@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Dosis:500&subset=latin,latin-ext);
body{
    min-width: 320px;
}
.bottom-divider{
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3) inset;
}
.intro-wrapper{
    margin-bottom:0px;
}
.footer-wrapper{
    min-height:80px;
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.3);
    padding-top:12px;
    text-align:center;
}
.footer-wrapper a{
    color: #777;
}
.footer-wrapper a:hover{
    text-decoration:none;
}
.footer-wrapper span{
    font-size:25px;
}
.section-wrapper .panel, .section-wrapper .statement{
    max-width:980px;
    margin-left:auto;
    margin-right:auto;
}
.statement{
    text-align: center;
    font-family: Dosis;
    font-size:25px;
    padding:10px;
}
.margin-small{
    height:45px;
}
.margin-large{
    height:115px;
}
.logo{
    cursor:pointer;
    text-align: center;
    font-size:30px;
    font-family: Voltaire;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background-color:#777;
    color:#ffffff;
    margin:300px auto;
    padding-top:90px;
    transition: background-color 0.7s;

}
.logo:hover{
    background-color: #333;
    transition: background-color 0.7s;
}
.logo span{
    font-size:75px;
}
a.no-underline:hover{
    text-decoration:none;
}
img.small{
    height:120px;
}
/*bootstrap overrides*/
.navbar-default{
    background-color:#ffffff;
    margin-bottom:0px;
    border: none;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}
.affix{
    position: fixed;
    top: 0;
    width: 100%;
    opacity:0.9;
    z-index:2;
}
.navbar-nav{
    margin-left:auto;
    margin-right:auto;
    width:450px;
    float:none;
}
@media (max-width: 768px) {
    .navbar-nav li{ /*preventing the nav bar collapsing on mobile views*/
        float:left !important;
    }
}
.navbar-nav a, .footer-wrapper a{
    font-size:35px;
    font-family: Yanone Kaffeesatz;
    padding: 25px 30px !important;
}
/*narrow view*/
@media (max-width: 450px) {
    .navbar-nav{
        width:290px;
    }
    .navbar-nav a, .footer-wrapper a{
        font-size:30px;
        padding: 25px 10px !important;
    }
    .logo {
        width: 250px;
        height: 250px;
        font-size:30px;
        padding-top:65px;
    }
    .logo span{
        font-size:50px;
    }
}
@media (max-height: 1500px){
    .logo{
        margin-top: 150px;
        margin-bottom: 250px;
    }
}
@media (max-height: 750px){
    .logo{
        margin-top: 120px;
        margin-bottom: 180px;
    }
}
@media (max-height: 400px){
    .logo{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.navigation-wrapper a:hover {
    color:#777 !important; /*overriding the links becoming darker on hover as that looks pretty bad with a touch interface*/
}
a.green.active{
    color:#419E16 !important;
}
div.green{
    background-color:#C7EBB7 ;
}
a.blue.active{
    color:#2a6496 !important;
}
div.blue{
    background-color:#B7D7EB ;
}
a.yellow.active{
    color:#9E9316 !important;
}
div.yellow{
    background-color:#EBE9B7 ;
}
#mapLinks a.active{
    background-color:#f5f5f5 !important;
    border-color:#ddd;
    color:#777;
}
a.red.active{
    color:#9E1626 !important;
}
div.red{
    background-color:#EBBCB7 ;
}
div.gray{
    background-color: #F2F2F2;
}
div.panel{
    margin-bottom:45px;
}
.responsive-holder{
    position: relative;
    padding-bottom: 75%; /* 3:4 */
    height: 0;
}
.responsive-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
table.no-head tr:first-child td{
    border-top: none;
}




